<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <input #input (keyup)="buscarCambio( input.value )"  type="text" class="form-control" placeholder="Buscar ultimo cambio...">

      </div>
    </div>

  </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">

  <div class="col-sm-12">

    <div class="alert alert-warning text-center"> 
      <strong>Cargando</strong>
      <br>
      <i class="fa fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>

    </div>
 </div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

          <div class="text-right">
              <button [routerLink]="['/reparacion', 'nuevo' ]" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
             <i class="fa fa-plus"></i>
             Agreagar Reparacion
           </button>
           </div> 

           

           <h3 class="card-title"> Reparaciones Registradas </h3>
           <table class="table table-responsive">
             <thead>
               <tr>
                 <th>Fecha</th>
                 <th>Contador</th>
                 <th>Descripcion</th>
                 <th>Repuestos</th>
                 
                 <th></th>
               </tr>
             </thead>

             <tbody>
               <tr *ngFor="let reparacion of reparaciones">
                 <td>
                   {{ reparacion.fecha | date }}
                 </td>
                 <td> 
                   {{ reparacion.contador }}
                 </td>
                 <td>
                  <button type="button" class="btn btn-outline-info" (click)="verDetalle(reparacion,'detalle')">
                    Ver Detalle
                  </button>
                 </td>
                 <td>
                  <button type="button" class="btn btn-outline-info" (click)="verDetalle(reparacion,'repuestos')">
                    Ver Repuesto
                  </button>
                 </td>
                
              
                 <td>
                    <button [routerLink]="['/reparacion', reparacion._id ]" class="btn btn-primary">
                        <i class="fa fa-edit"></i>
                      </button>
                 </td>
                 <td>     
                      <button (click)="borrarReparacion( reparacion )" class="btn btn-danger">
                          <i class="fa fa-trash-o"></i>
                       </button>
                 </td>
              </tr>
             </tbody>

           </table>
          </div>
    </div>

  </div>

</div>
